/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop
  
  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px
  */
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #0a6eb226; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: #333333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important; }

h2.primary-heading {
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 700;
  color: #FE5D37; }
  @media only screen and (max-width: 992px) {
    h2.primary-heading {
      margin-bottom: 40px;
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    h2.primary-heading {
      margin-bottom: 30px;
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    h2.primary-heading {
      margin-bottom: 30px;
      font-size: 24px; } }

.hero-primary-heading {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.26; }
  @media only screen and (max-width: 992px) {
    .hero-primary-heading {
      font-size: 48px; } }
  @media only screen and (max-width: 768px) {
    .hero-primary-heading {
      font-size: 36px; } }
  @media only screen and (max-width: 575px) {
    .hero-primary-heading {
      font-size: 30px; } }

.hero-secondary-heading {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  line-height: 1.26; }
  @media only screen and (max-width: 992px) {
    .hero-secondary-heading {
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    .hero-secondary-heading {
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    .hero-secondary-heading {
      font-size: 24px; } }

.heading-fourth {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: #FE5D37; }

.heading-five {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 600;
  color: #FE5D37;
  text-transform: uppercase; }

.content-para p, .content-para li {
  font-size: 18px;
  line-height: 32px;
  font-weight: normal; }
  .content-para p:last-child, .content-para li:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 992px) {
    .content-para p, .content-para li {
      font-size: 16px;
      line-height: 1.7; } }
  @media only screen and (max-width: 768px) {
    .content-para p, .content-para li {
      font-size: 15px;
      line-height: 1.7; } }

.u-center-text {
  text-align: center; }

.mb-large {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .mb-large {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mb-large {
      margin-bottom: 3rem; } }

.mt-large {
  margin-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .mt-large {
      margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mt-large {
      margin-top: 3rem; } }

.primary-list li {
  position: relative; }
  .primary-list li:before {
    content: "";
    background-image: url("../images/primary-list-01.png");
    background-size: cover;
    position: absolute;
    top: 30%;
    left: -30px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a6eb226;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; }

@media (max-width: 576px) {
  #loader img {
    width: 80px; } }

.inner-hero-section {
  position: relative;
  min-height: 500px;
  display: grid;
  place-content: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  .inner-hero-section::before {
    content: "";
    background: #103741;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .inner-hero-section .container {
    position: relative; }

.global-btn-one {
  font-size: 15px;
  padding: 10px 24px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #ffffff;
  color: #ffffff;
  transition: 0.4s ease; }
  .global-btn-one:hover {
    color: #FE5D37;
    background: #ffffff !important; }

.global-btn-two {
  font-size: 15px;
  padding: 10px 24px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #FE5D37;
  background: #FE5D37;
  color: #ffffff;
  transition: 0.4s ease;
  display: inline-block; }
  .global-btn-two:hover {
    color: #FE5D37;
    background: transparent; }

.hero-section .form-body {
  display: grid;
  justify-content: flex-end;
  padding: 2rem; }
  .hero-section .form-body .form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .hero-section .form-body .form-holder .form-content {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0; }
      .hero-section .form-body .form-holder .form-content .form-items {
        background: #fe5d37;
        backdrop-filter: blur(7px);
        padding: 25px;
        display: inline-block;
        width: 100%;
        border-radius: 10px;
        text-align: left;
        transition: all 0.4s ease; }
        @media only screen and (max-width: 575px) {
          .hero-section .form-body .form-holder .form-content .form-items {
            min-width: 80%; } }
      .hero-section .form-body .form-holder .form-content h3 {
        color: #ffffff;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px; }
      .hero-section .form-body .form-holder .form-content h3.form-title {
        margin-bottom: 30px; }
      .hero-section .form-body .form-holder .form-content p {
        color: #ffffff;
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px; }
      .hero-section .form-body .form-holder .form-content label, .hero-section .form-body .form-holder .form-content .was-validated .form-check-input:invalid ~ .form-check-label, .hero-section .form-body .form-holder .form-content .was-validated .form-check-input:valid ~ .form-check-label {
        color: #ffffff;
        font-size: 1.6rem; }
      .hero-section .form-body .form-holder .form-content input[type=text], .hero-section .form-body .form-holder .form-content input[type=password], .hero-section .form-body .form-holder .form-content input[type=email], .hero-section .form-body .form-holder .form-content select {
        width: 100%;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 16px; }
      .hero-section .form-body .form-holder .form-content textarea {
        position: static !important;
        width: 100%;
        padding: 8px 20px;
        border-radius: 6px;
        text-align: left;
        background-color: #ffffff;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        outline: none;
        resize: none;
        height: 120px;
        -webkit-transition: none;
        transition: none;
        margin-bottom: 14px;
        margin-top: 16px; }
        .hero-section .form-body .form-holder .form-content textarea:hover, .hero-section .form-body .form-holder .form-content textarea:focus {
          border: 0;
          background-color: #ebeff8;
          color: #8D8D8D; }
      .hero-section .form-body .form-holder .form-content button {
        background: transparent; }
    .hero-section .form-body .form-holder .mv-up {
      margin-top: -9px !important;
      margin-bottom: 8px !important; }
    .hero-section .form-body .form-holder .invalid-feedback {
      color: #ff606e; }
    .hero-section .form-body .form-holder .valid-feedback {
      color: #2acc80; }
  .hero-section .form-body .gender {
    margin: 2rem 0 1rem 0; }
    .hero-section .form-body .gender .btn {
      border: 1px solid #ffffff;
      transition: 0.4s ease; }
      .hero-section .form-body .gender .btn:hover {
        background: #ffffff;
        color: #333333; }

footer {
  background: #103741;
  padding: 7rem 0; }
  footer li, footer a, footer i, footer p {
    color: #c9c9c9 !important;
    font-size: 16px !important; }
  footer ul {
    margin: 0;
    padding: 0; }
  footer ul.location {
    display: flex;
    flex-wrap: wrap; }
    footer ul.location li {
      position: relative; }
      footer ul.location li:not(:last-child) {
        padding-right: 10px; }
        footer ul.location li:not(:last-child)::after {
          content: "|";
          margin-left: 10px;
          font-weight: 200; }
  footer ul.contact-us li:not(:last-child), footer ul.quick-links li:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  footer h4.widget-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 15px; }
  footer + .copyright {
    background: #020202;
    padding: 10px; }
    @media screen and (max-width: 970px) {
      footer + .copyright {
        padding: 10px 10px 50px; } }
    footer + .copyright p, footer + .copyright a {
      color: #103741;
      margin: 0; }

.top-header {
  background: #103741;
  padding: 10px 0; }
  @media screen and (max-width: 970px) {
    .top-header .col-md-4:first-child {
      position: fixed;
      bottom: 0;
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9; } }
  .top-header .col-md-4:last-child {
    text-align: right; }
  .top-header .social-media {
    color: #ffffff;
    display: inline-flex; }
    @media screen and (max-width: 970px) {
      .top-header .social-media {
        width: 100%;
        justify-content: center; } }
    @media screen and (max-width: 970px) {
      .top-header .social-media span {
        display: none; } }
    .top-header .social-media ul {
      margin-bottom: 0; }
      @media screen and (max-width: 970px) {
        .top-header .social-media ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding: 0; }
          .top-header .social-media ul li {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4); }
            .top-header .social-media ul li:nth-child(1) {
              background: #e96651; }
            .top-header .social-media ul li:nth-child(2) {
              background: #7acdee; }
            .top-header .social-media ul li:nth-child(3) {
              background: #557dbc; }
            .top-header .social-media ul li:nth-child(4) {
              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
            .top-header .social-media ul li a {
              display: block;
              text-align: center;
              padding: 10px 0; } }
      @media screen and (max-width: 970px) and (min-width: 359px) {
        .top-header .social-media ul {
          width: 30rem; } }
      @media screen and (max-width: 358.9px) {
        .top-header .social-media ul {
          width: calc(100% - 15px); } }
      .top-header .social-media ul li {
        display: inline-block;
        line-height: 1; }
        .top-header .social-media ul li:not(:last-child) {
          padding-right: 8px; }
        .top-header .social-media ul li a {
          color: #ffffff; }
          .top-header .social-media ul li a i {
            font-size: 20px; }
  @media screen and (min-width: 970.1px) {
    .top-header .top-navigation {
      text-align: right; } }
  .top-header .top-navigation ul {
    margin-bottom: 0;
    padding-left: 0; }
    .top-header .top-navigation ul li {
      display: inline-block;
      line-height: 1; }
      .top-header .top-navigation ul li:not(:last-child) {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid rgba(255, 255, 255, 0.5); }
      .top-header .top-navigation ul li a {
        color: #ffffff;
        text-transform: capitalize;
        font-size: 14px; }
  .top-header a.geti-login {
    color: #fff;
    position: fixed;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.4) 0, rgba(255, 255, 255, 0) 100%), #103741;
    top: 30%;
    transform: rotate(-90deg) translate(-50%, 118%);
    padding: 10px 20px;
    border-radius: 40px;
    z-index: 1; }

.middle-header {
  padding: 1rem 0;
  background: #ffffff; }
  .middle-header .middle-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .middle-header .middle-row .cis-brand {
      flex: 0 0 200px;
      max-width: 200px; }
      @media screen and (max-width: 970px) {
        .middle-header .middle-row .cis-brand {
          display: none; } }
    .middle-header .middle-row form.d-flex {
      flex: 0 0 calc(100% - 250px);
      max-width: calc(100% - 250px);
      justify-content: flex-end; }
      @media screen and (max-width: 970px) {
        .middle-header .middle-row form.d-flex {
          flex: 0 0 100%;
          max-width: 100%; } }
      .middle-header .middle-row form.d-flex input.form-control {
        background: transparent;
        border: 2px solid #FE5D37;
        border-right: none;
        border-radius: 0; }
        @media only screen and (min-width: 575.1px) {
          .middle-header .middle-row form.d-flex input.form-control {
            max-width: 30rem; } }
  .middle-header .cis-brand img {
    width: 100%; }

.navigation {
  background: #FE5D37; }
  @media screen and (max-width: 970px) {
    .navigation {
      padding: 1rem 0; } }
  .navigation .cis-brand-mobile {
    float: left; }
    .navigation .cis-brand-mobile img {
      width: 120px; }
    @media screen and (min-width: 970.12px) {
      .navigation .cis-brand-mobile {
        display: none; } }
  .navigation nav .wrapper {
    position: relative;
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navigation nav .wrapper ul {
      margin: 0; }
      @media screen and (min-width: 970px) and (max-width: 992px) {
        .navigation nav .wrapper ul {
          padding: 0; } }
    @media screen and (max-width: 970px) {
      .navigation nav .wrapper {
        justify-content: flex-end;
        padding: 0 3rem; } }
  .navigation .wrapper .logo a img {
    max-width: 15rem; }
  .navigation .wrapper .nav-links {
    display: inline-flex; }
    @media screen and (min-width: 970px) and (max-width: 1399.9px) {
      .navigation .wrapper .nav-links {
        display: flex;
        justify-content: space-between;
        width: 100%; } }
  .navigation .nav-links li {
    list-style: none; }
  .navigation .nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: block; }
    @media screen and (min-width: 970px) and (max-width: 992.1px) {
      .navigation .nav-links li a {
        padding: 9px 10px; } }
    @media screen and (min-width: 970px) and (max-width: 992px) {
      .navigation .nav-links li a {
        padding: 9px 7px;
        font-size: 12px; } }
    @media screen and (max-width: 970px) {
      .navigation .nav-links li a {
        color: white; } }
  .navigation .nav-links li a:hover {
    background: #fe4d23;
    color: white; }
  .navigation .nav-links .mobile-item {
    display: none; }
  .navigation .nav-links .drop-menu {
    position: absolute;
    background: #FE5D37;
    width: 180px;
    line-height: 45px;
    padding: 0;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
  .navigation .nav-links li:hover .drop-menu,
  .navigation .nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 45px;
    opacity: 1;
    visibility: visible; }
  .navigation .drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    color: #ffffff; }
  .navigation .mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  .navigation .mega-box .content {
    background: #FE5D37;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
    @media screen and (min-width: 970.1px) {
      .navigation .mega-box .content {
        border-top: 1px solid #cce3de; } }
  .navigation .mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
    flex-direction: column; }
  .navigation .content .row img {
    width: 100%;
    height: 30rem;
    object-fit: cover; }
  .navigation .content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500; }
  .navigation .content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09); }
  .navigation .row .mega-links li {
    padding: 0 20px; }
  .navigation .row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #ffffff;
    font-size: 17px;
    display: block; }
  .navigation .row .mega-links li a:hover {
    color: #f2f2f2; }
  .navigation .wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none; }
  .navigation .wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px; }
  @media screen and (max-width: 970px) {
    .navigation {
      /* custom scroll bar */ }
      .navigation .wrapper .btn {
        display: block; }
      .navigation .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #FE5D37;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease; }
      .navigation ::-webkit-scrollbar {
        width: 10px; }
      .navigation ::-webkit-scrollbar-track {
        background: #FE5D37; }
      .navigation ::-webkit-scrollbar-thumb {
        background: #103741; }
      .navigation #menu-btn:checked ~ .nav-links {
        left: 0%; }
      .navigation #menu-btn:checked ~ .btn.menu-btn {
        display: none; }
      .navigation #close-btn:checked ~ .btn.menu-btn {
        display: block; }
      .navigation .nav-links li {
        margin: 15px 10px; }
      .navigation .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px; }
      .navigation .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease; }
      .navigation #showDrop:checked ~ .drop-menu,
      .navigation #showMega:checked ~ .mega-box {
        max-height: 100%; }
      .navigation .nav-links .desktop-item {
        display: none; }
      .navigation .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease; }
      .navigation .nav-links .mobile-item:hover {
        background: #103741; }
      .navigation .drop-menu li {
        margin: 0; }
      .navigation .drop-menu li a {
        border-radius: 5px;
        font-size: 18px; }
      .navigation .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease; }
      .navigation .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px; }
      .navigation .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08); }
      .navigation .mega-box .content .row:nth-child(1),
      .navigation .mega-box .content .row:nth-child(2) {
        border-top: 0px; }
      .navigation .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px; }
      .navigation .row .mega-links li {
        margin: 0; }
      .navigation .content .row header {
        font-size: 19px; } }
  .navigation nav input {
    display: none; }

.mobile-item, .desktop-item {
  position: relative; }
  .mobile-item::after, .desktop-item::after {
    content: "\f078";
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    line-height: 1;
    font-weight: 900;
    padding-left: 5px;
    font-size: 10px; }
    @media screen and (max-width: 970px) {
      .mobile-item::after, .desktop-item::after {
        position: absolute;
        font-size: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%); } }

.management-section {
  padding-top: 8rem; }

.management-card {
  border: 2px solid #FE5D37;
  padding: 6rem 2rem 2rem;
  border-radius: 1rem;
  background: rgba(254, 93, 55, 0.1);
  backdrop-filter: blur(10px); }
  .management-card.bitto {
    margin-top: 16rem; }
  .management-card h4.heading-fourth {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 2.5rem; }
  .management-card .director-pic {
    text-align: center;
    margin-top: -15.5rem; }
    .management-card .director-pic img {
      border-radius: 50%;
      width: 20rem;
      height: 20rem;
      border: 4px solid #ffffff;
      outline: 2px solid #FE5D37;
      object-fit: cover; }

.ipsative-section {
  padding: 10rem 0;
  background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?auto=format&fit=crop&q=80&w=2673&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  position: relative; }
  .ipsative-section::before {
    content: "";
    background: #103741;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .ipsative-section .container {
    text-align: center;
    position: relative; }
    .ipsative-section .container img {
      filter: brightness(0) invert(2) sepia(3); }
    .ipsative-section .container .content-para {
      margin-top: 4rem;
      color: #ffffff; }
      .ipsative-section .container .content-para p {
        font-size: 2rem; }

.cis-glance .glance-img {
  margin-top: 5rem; }

.cis-glance h6 {
  border-left: 5px solid #103741;
  padding-left: 1rem; }

.founder-concept a {
  color: #FE5D37; }

.founder-concept .sgandhi img {
  border-radius: 50%;
  outline: 3px solid #FE5D37;
  border: 3px solid #ffffff; }

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }
  .gallery-grid .mask {
    background-color: rgba(251, 251, 251, 0.2); }

.hero-section {
  background-image: url("../images/new2.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem 0; }
  .hero-section::before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hero-grid {
  position: relative; }
  @media only screen and (min-width: 992.1px) {
    .hero-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      .hero-grid .hero-grid-items:nth-child(1) {
        flex: 0 0 calc(100% - 40rem);
        max-width: calc(100% - 40rem); }
      .hero-grid .hero-grid-items:nth-child(2) {
        flex: 0 0 40rem;
        max-width: 40rem; } }
  .hero-grid .hero-content {
    margin-left: 22rem;
    width: 50%; }
    .hero-grid .hero-content h1 {
      font-size: 5rem;
      font-weight: 700;
      color: #fff; }
    .hero-grid .hero-content p {
      font-size: 2rem;
      color: #ffffff;
      font-weight: 500; }

.become-teacher .teacher-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff5f3;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
  align-items: center; }
  @media only screen and (max-width: 992px) {
    .become-teacher .teacher-grid {
      grid-template-columns: repeat(1, 1fr); } }
  .become-teacher .teacher-grid .teacher-items:last-child {
    padding: 0 5rem; }
  .become-teacher .teacher-grid .teacher-items img.img-fluid {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    object-position: center; }
    @media only screen and (min-width: 992.1px) {
      .become-teacher .teacher-grid .teacher-items img.img-fluid {
        max-height: 38rem; } }
  .become-teacher .teacher-grid .teacher-items .primary-heading {
    margin-bottom: 1rem; }
    @media only screen and (min-width: 992.1px) {
      .become-teacher .teacher-grid .teacher-items .primary-heading {
        text-align: left; } }
  .become-teacher .teacher-grid .teacher-items .global-btn-two {
    margin-top: 2rem; }

.cis-section .heading-six {
  color: #ffffff;
  background: #FE5D37;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px; }

@media only screen and (min-width: 768.1px) {
  .cis-section h2.primary-heading {
    text-align: left !important; } }

.objective {
  background: #FE5D37;
  color: #ffffff;
  padding: 8rem 0; }
  @media only screen and (max-width: 992px) {
    .objective {
      padding: 5rem 0; } }
  @media only screen and (max-width: 768px) {
    .objective {
      padding: 3rem 0; } }
  .objective p {
    text-align: center; }
    @media only screen and (max-width: 1200px) {
      .objective p {
        padding: 0 15rem; } }
    @media only screen and (min-width: 1200.1px) {
      .objective p {
        padding: 0 15rem; } }
