.top-header{
    background: $colorPrimary;
    padding: 10px 0;
    .col-md-4:last-child{
        text-align: right;
    }
    .social-media{
        color: $colorWhite;
        display: inline-flex;
        ul{
            margin-bottom: 0;
            li{
                display: inline-block;
                line-height: 1;
                &:not(:last-child){
                    padding-right: 8px;
                }
                a{
                    color: $colorWhite;
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .top-navigation {
       ul{
        margin-bottom: 0;
        padding-left: 0;
        li{
            display: inline-block;
            line-height: 1;
            &:not(:last-child){
                padding-right: 8px;
                margin-right: 8px;
                border-right: 1px solid rgba($colorWhite, $alpha: 0.5);
            }
            a{
                color: $colorWhite;
                text-transform: capitalize;
                font-size: 14px;
            }
        }
       }
    }
}
.main-header{
    background: $colorWhite;
    nav.navbar{
        .logo{
            max-width: 170px;
            padding: 10px 0;
        }
        .collapsing{
           @include respond(tab-port-after){
            display: none;
           }
        }
        ul.navbar-nav{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 25px;
        }
    }
}