/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop
  
  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px
  */
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #f9f9f9;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.barabanki-contact footer {
  margin-top: 0; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: #333333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important; }

h2.primary-heading {
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 700;
  color: #8e4bff; }
  @media only screen and (max-width: 992px) {
    h2.primary-heading {
      margin-bottom: 40px;
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    h2.primary-heading {
      margin-bottom: 30px;
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    h2.primary-heading {
      margin-bottom: 30px;
      font-size: 24px; } }

.hero-primary-heading {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #f9f9f9;
  text-align: left;
  line-height: 1.26; }
  @media only screen and (max-width: 992px) {
    .hero-primary-heading {
      font-size: 48px; } }
  @media only screen and (max-width: 768px) {
    .hero-primary-heading {
      font-size: 36px; } }
  @media only screen and (max-width: 575px) {
    .hero-primary-heading {
      font-size: 30px; } }

.hero-secondary-heading {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 200;
  color: #f9f9f9;
  text-align: center;
  line-height: 1.26; }
  @media only screen and (max-width: 992px) {
    .hero-secondary-heading {
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    .hero-secondary-heading {
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    .hero-secondary-heading {
      font-size: 24px; } }

.admission-heading {
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 700;
  color: #2F323A;
  line-height: 1.26;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 992px) {
    .admission-heading {
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    .admission-heading {
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    .admission-heading {
      font-size: 24px; } }

.heading-fourth {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: #8e4bff; }

.heading-five {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #8e4bff;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 600;
  color: #8e4bff;
  text-transform: uppercase; }

.content-para p, .content-para li {
  font-size: 18px;
  line-height: 32px;
  font-weight: normal; }
  .content-para p:last-child, .content-para li:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 992px) {
    .content-para p, .content-para li {
      font-size: 16px;
      line-height: 1.7; } }
  @media only screen and (max-width: 768px) {
    .content-para p, .content-para li {
      font-size: 15px;
      line-height: 1.7; } }

.u-center-text {
  text-align: center; }

.mb-large {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .mb-large {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mb-large {
      margin-bottom: 3rem; } }

.mt-large {
  margin-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .mt-large {
      margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mt-large {
      margin-top: 3rem; } }

.primary-list li {
  position: relative; }
  .primary-list li:before {
    content: "";
    background-image: url("../images/primary-list-01.png");
    background-size: cover;
    position: absolute;
    top: 15px;
    left: -30px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2F2F2F;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; }

@media (max-width: 576px) {
  #loader img {
    width: 80px; } }

.inner-hero-section {
  position: relative;
  padding: calc(10rem + 90.36px) 0 10rem;
  background: #8e4bff; }

.btn-one {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  background: #8e4bff;
  color: #f9f9f9;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid #8e4bff;
  transition: 0.4s ease;
  border-radius: 30px; }
  .btn-one:hover {
    background: transparent;
    color: #8e4bff;
    border: 2px solid #8e4bff; }

.btn-two {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  background: #f9f9f9;
  color: #8e4bff;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid #f9f9f9;
  transition: 0.4s ease;
  border-radius: 30px; }
  .btn-two:hover {
    background: transparent;
    color: #f9f9f9;
    border: 2px solid #f9f9f9; }

.btn-links {
  margin-top: 30px; }

.admission-form {
  background: #f9f9f9;
  padding: 2.5rem 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem; }
  @media screen and (max-width: 992px) {
    .admission-form {
      margin-bottom: 3rem; } }
  @media screen and (min-width: 992px) {
    .admission-form {
      position: sticky;
      top: 12rem; } }
  .admission-form form .form-group {
    position: relative;
    width: 100%;
    margin-top: 35px; }
  .admission-form form .form-control {
    position: relative;
    width: 100%;
    color: #c2c2c2;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
    box-shadow: none;
    font-weight: normal;
    letter-spacing: 0.05rem;
    transition: 0.5s; }
    .admission-form form .form-control::placeholder {
      color: #2F2F2F; }
    .admission-form form .form-control:hover, .admission-form form .form-control:active, .admission-form form .form-control:focus {
      border-bottom: 1px solid #8e4bff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
  .admission-form form select {
    position: relative; }
    .admission-form form select::after {
      content: "^";
      position: absolute;
      right: 0;
      top: 0;
      font-size: 20px; }

footer {
  background: #545775;
  padding: 7rem 0; }
  footer li, footer a, footer i, footer p {
    color: #c9c9c9 !important;
    font-size: 16px !important; }
  footer ul {
    margin: 0;
    padding: 0; }
  footer ul.location {
    display: flex;
    flex-wrap: wrap; }
    footer ul.location li {
      position: relative; }
      footer ul.location li:not(:last-child) {
        padding-right: 10px; }
        footer ul.location li:not(:last-child)::after {
          content: "|";
          margin-left: 10px;
          font-weight: 200; }
  footer ul.contact-us li:not(:last-child), footer ul.quick-links li:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(249, 249, 249, 0.2); }
  footer h4.widget-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #f9f9f9;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 15px; }
  footer + .copyright {
    background: #020202;
    padding: 10px; }
    footer + .copyright p, footer + .copyright a {
      color: #545775;
      margin: 0; }

.top-header {
  background: #8e4bff;
  padding: 10px 0; }
  .top-header .col-md-4:last-child {
    text-align: right; }
  .top-header .social-media {
    color: #f9f9f9;
    display: inline-flex; }
    .top-header .social-media ul {
      margin-bottom: 0; }
      .top-header .social-media ul li {
        display: inline-block;
        line-height: 1; }
        .top-header .social-media ul li:not(:last-child) {
          padding-right: 8px; }
        .top-header .social-media ul li a {
          color: #f9f9f9; }
          .top-header .social-media ul li a i {
            font-size: 20px; }
  .top-header .top-navigation ul {
    margin-bottom: 0;
    padding-left: 0; }
    .top-header .top-navigation ul li {
      display: inline-block;
      line-height: 1; }
      .top-header .top-navigation ul li:not(:last-child) {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid rgba(249, 249, 249, 0.5); }
      .top-header .top-navigation ul li a {
        color: #f9f9f9;
        text-transform: capitalize;
        font-size: 14px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: 0.4s ease;
  background: #f9f9f9; }
  header.fixed-header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  header .navbar-brand img {
    width: 14rem; }
  header .navbar-nav li.nav-item:not(:last-child) {
    margin-right: 10px; }
  header .navbar-nav li.nav-item a {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px; }
  header .navbar-nav li.nav-item.admission {
    background: #8e4bff;
    border: 2px solid #8e4bff;
    transition: 0.4s ease;
    border-radius: 10px; }
    @media screen and (min-width: 992px) {
      header .navbar-nav li.nav-item.admission {
        margin-left: 15px; } }
    header .navbar-nav li.nav-item.admission:hover {
      background: transparent; }
      header .navbar-nav li.nav-item.admission:hover a {
        color: #8e4bff; }
    header .navbar-nav li.nav-item.admission a {
      color: #f9f9f9;
      padding-left: 30px;
      padding-right: 30px;
      transition: 0.4s ease; }

@media screen and (min-width: 768px) {
  .management-section {
    padding-top: 8rem; } }

@media screen and (max-width: 767.9px) {
  .management-section .col-md-6:last-child .management-card {
    margin-top: 3rem; } }

.management-card {
  border: 2px solid #8e4bff;
  padding: 2rem 2rem;
  border-radius: 1rem;
  background: rgba(142, 75, 255, 0.1);
  backdrop-filter: blur(10px); }
  @media screen and (min-width: 768px) {
    .management-card {
      padding: 6rem 2rem 2rem; } }
  .management-card.bitto {
    margin-top: 16rem; }
  .management-card h4.heading-fourth {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 2.5rem; }
  .management-card .director-pic {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .management-card .director-pic {
        margin-top: -15.5rem; } }
    .management-card .director-pic img {
      border-radius: 50%;
      width: 20rem;
      height: 20rem;
      border: 4px solid #f9f9f9;
      outline: 2px solid #8e4bff;
      object-fit: cover; }

.ipsative-section {
  padding: 10rem 0;
  background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?auto=format&fit=crop&q=80&w=2673&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  position: relative; }
  .ipsative-section::before {
    content: "";
    background: #545775;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .ipsative-section .container {
    text-align: center;
    position: relative; }
    .ipsative-section .container img {
      filter: brightness(0) invert(2) sepia(3); }
    .ipsative-section .container .content-para {
      margin-top: 4rem;
      color: #f9f9f9; }
      .ipsative-section .container .content-para p {
        font-size: 2rem; }

.cis-glance .glance-img {
  margin-top: 5rem; }

.cis-glance h6 {
  border-left: 5px solid #545775;
  padding-left: 1rem; }

@media screen and (max-width: 767.9px) {
  .founder-concept .row:last-child {
    flex-direction: column-reverse; }
    .founder-concept .row:last-child .found-book-cover {
      margin: 30px 0 50px; } }

.founder-concept a {
  color: #8e4bff; }

@media only screen and (max-width: 768px) {
  .founder-concept .sgandhi {
    max-width: 25rem;
    margin: 0 auto 3rem; } }

.founder-concept .sgandhi img {
  border-radius: 50%;
  outline: 3px solid #8e4bff;
  border: 3px solid #f9f9f9; }

@media screen and (min-width: 767.9px) {
  .founder-concept .col-md-3 {
    text-align: end; } }

.founder-concept .found-book-cover {
  position: relative;
  display: inline-block; }
  .founder-concept .found-book-cover::before {
    content: "";
    background: transparent;
    border: 5px solid #8e4bff;
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 100%;
    height: 100%;
    z-index: -1; }

@media screen and (min-width: 992px) {
  .curriculum-area {
    padding-top: 2rem; } }

.curriculum-area .barabanki-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px; }
  @media screen and (min-width: 768.1px) {
    .curriculum-area .barabanki-grid {
      grid-template-rows: repeat(2, 300px); } }
  @media screen and (max-width: 768px) {
    .curriculum-area .barabanki-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 576px) {
    .curriculum-area .barabanki-grid {
      grid-template-columns: repeat(1, 1fr); } }
  @media screen and (min-width: 1200px) {
    .curriculum-area .barabanki-grid {
      width: 850px;
      margin: auto;
      grid-template-rows: repeat(2, 280px); } }
  .curriculum-area .barabanki-grid__item {
    border: 1px solid;
    border-radius: 5px; }
    @media screen and (max-width: 576px) {
      .curriculum-area .barabanki-grid__item {
        width: 75%;
        margin: auto; } }
    .curriculum-area .barabanki-grid__item span.serial-no {
      display: inline-flex;
      align-items: center;
      padding-left: 13px;
      background: #fff;
      width: 50px;
      height: 50px;
      font-weight: 700;
      font-size: 20px;
      outline: 1px solid #fff;
      border-radius: 0 0 80px 0px; }
    .curriculum-area .barabanki-grid__item .content-para {
      text-align: center;
      padding: 20px;
      color: #f9f9f9; }
    .curriculum-area .barabanki-grid__item:nth-child(1) {
      background: #14a0c0;
      border-color: #14a0c0; }
      .curriculum-area .barabanki-grid__item:nth-child(1) .serial-no {
        color: #14a0c0; }
    .curriculum-area .barabanki-grid__item:nth-child(2) {
      background: #78d809;
      border-color: #78d809; }
      .curriculum-area .barabanki-grid__item:nth-child(2) .serial-no {
        color: #78d809; }
    .curriculum-area .barabanki-grid__item:nth-child(3) {
      background: #01cc9b;
      border-color: #01cc9b; }
      .curriculum-area .barabanki-grid__item:nth-child(3) .serial-no {
        color: #01cc9b; }
    .curriculum-area .barabanki-grid__item:nth-child(4) {
      background: #5059ab;
      border-color: #5059ab; }
      .curriculum-area .barabanki-grid__item:nth-child(4) .serial-no {
        color: #5059ab; }
    .curriculum-area .barabanki-grid__item:nth-child(5) {
      background: #09909f;
      border-color: #09909f; }
      .curriculum-area .barabanki-grid__item:nth-child(5) .serial-no {
        color: #09909f; }
    .curriculum-area .barabanki-grid__item:nth-child(6) {
      background: #4f7bac;
      border-color: #4f7bac; }
      .curriculum-area .barabanki-grid__item:nth-child(6) .serial-no {
        color: #4f7bac; }

@media screen and (max-width: 992px) {
  .admission .row {
    flex-direction: column-reverse; } }

.admission hr {
  margin: 2.5rem 0 4.5rem; }
  @media only screen and (max-width: 992px) {
    .admission hr {
      margin: 2rem 0 3rem; } }
  @media only screen and (max-width: 768px) {
    .admission hr {
      margin: 1rem 0 2rem; } }

.admission ul.primary-list li:not(:last-child) {
  margin-bottom: 20px; }

.admission ul.primary-list.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 50px;
  margin-top: 20px; }
  .admission ul.primary-list.grid strong {
    color: #8e4bff; }

.admission .heading-fourth {
  color: #2F323A;
  margin-bottom: 20px; }

@media screen and (max-width: 992px) {
  .director-message .director-pic {
    margin-bottom: 3rem; } }

@media screen and (min-width: 992px) {
  .director-message .content-para {
    padding-left: 2rem; } }

.azadi-pics .content-para {
  text-align: center;
  margin-bottom: 7rem; }
  .azadi-pics .content-para p:first-child::first-letter {
    font-size: 6rem;
    font-weight: 700;
    color: #8e4bff; }

.azadi-pics .azadi-pics-grid {
  display: grid;
  grid-gap: 5px; }
  @media screen and (min-width: 576px) {
    .azadi-pics .azadi-pics-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 250px; } }
  .azadi-pics .azadi-pics-grid__item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%; }
  @media screen and (min-width: 576px) {
    .azadi-pics .azadi-pics-grid__item:nth-child(3n):not(:last-of-type) {
      grid-row-end: span 2; } }

.form-control {
  height: 36px;
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control::placeholder {
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control:focus, .form-control:active {
    border-color: #8e4bff !important;
    background: #f9f9f9; }

textarea.form-control {
  height: inherit !important; }

.wrapper {
  width: 100%; }

.contact-wrap {
  background: #f9f9f9; }

@media screen and (min-width: 768px) {
  .info-wrap {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; } }

.dbox {
  width: 100%;
  margin-bottom: 25px; }
  @media screen and (min-width: 768px) {
    .dbox {
      margin-bottom: 25px !important;
      padding: 0 20px; } }
  .dbox p {
    margin-bottom: 0; }
    .dbox p span {
      font-weight: 500;
      color: #333333; }
    .dbox p a {
      color: #8e4bff; }
  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #8e4bff;
    margin: 0 auto;
    margin-bottom: 20px; }
    .dbox .icon span {
      font-size: 20px;
      color: #f9f9f9; }
  .dbox .text {
    width: 100%; }

.btn {
  margin-top: 2rem; }

.contactForm .form-group {
  margin-top: 3rem; }

.contactForm .label {
  color: #333333;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1rem; }

.contactForm .form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px; }

#contactForm .error {
  color: red;
  font-size: 12px; }

#contactForm .form-control {
  font-size: 14px; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: red; }

#form-message-success {
  color: violet;
  font-size: 18px;
  font-weight: 500; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: bold; }

.hero-section {
  min-height: 100vh;
  position: relative;
  overflow: hidden; }
  .hero-section .container {
    position: relative;
    z-index: 4;
    height: 100vh; }
    .hero-section .container .row {
      height: 100vh; }
      @media screen and (min-width: 768px) {
        .hero-section .container .row .col-md-6:first-child {
          align-self: center; }
        .hero-section .container .row .col-md-6:last-child {
          align-self: flex-end; } }
  .hero-section span.primary {
    background: #8e4bff;
    position: absolute; }
    .hero-section span.primary.one {
      width: 55rem;
      height: 55rem;
      right: 0;
      bottom: 0%;
      transform: translate(-40%, 16%) rotate(33deg);
      border-radius: 5rem; }
    .hero-section span.primary.three {
      width: 33rem;
      height: 33rem;
      right: 0;
      top: 50%;
      transform: translate(40%, -70%) rotate(64deg);
      border-radius: 5rem; }
  .hero-section span.secondary {
    background: #daed39;
    width: 30rem;
    height: 30rem;
    position: absolute;
    right: 23%;
    top: 50%;
    transform: translate(-58%, -37%) rotate(70deg);
    border-radius: 5rem;
    z-index: 3; }
  .hero-section h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 65px; }
    .hero-section h1 span {
      color: #8e4bff; }
  .hero-section .heading-six {
    font-weight: 500;
    color: #333333;
    border-top: 1.5px solid #333333;
    border-bottom: 1.5px solid #333333;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
    margin: 15px 0 30px 0;
    display: inline-block; }

.about .service-item {
  position: relative;
  padding-top: 40px; }
  .about .service-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-image: linear-gradient(90deg, #8e4bff 7.5%, rgba(47, 47, 47, 0.4) 7.5%); }
  .about .service-item:hover h4 {
    color: #8e4bff; }

.about .icon {
  width: 9rem;
  height: 9rem;
  position: relative;
  margin-right: 50px;
  line-height: 1.3;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 0;
  text-align: center;
  border: 4px solid #fff;
  outline: 4px solid; }
  .about .icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5rem;
    color: #f9f9f9;
    font-weight: 700; }
  .about .icon.way-1 {
    background: #1f4b96;
    outline-color: #1f4b96; }
  .about .icon.way-2 {
    background: #075792;
    outline-color: #075792; }
  .about .icon.way-3 {
    background: #0a6d94;
    outline-color: #0a6d94; }
  .about .icon.way-4 {
    background: #077a8d;
    outline-color: #077a8d; }
  .about .icon.way-5 {
    background: #117c6a;
    outline-color: #117c6a; }
  .about .icon.way-6 {
    background: #159655;
    outline-color: #159655; }
  .about .icon.way-7 {
    background: #348934;
    outline-color: #348934; }
  .about .icon.way-8 {
    background: #5b9131;
    outline-color: #5b9131; }
  .about .icon.way-9 {
    background: #7da02a;
    outline-color: #7da02a; }
  .about .icon.way-10 {
    background: #8a951f;
    outline-color: #8a951f; }
  .about .icon.way-11 {
    background: #c5701d;
    outline-color: #c5701d; }
  .about .icon.way-12 {
    background: #ca5220;
    outline-color: #ca5220; }
  .about .icon.way-13 {
    background: #c23a24;
    outline-color: #c23a24; }
  .about .icon.way-14 {
    background: #d73d21;
    outline-color: #d73d21; }
  .about .icon.way-15 {
    background: #91241f;
    outline-color: #91241f; }
  .about .icon.way-16 {
    background: #a61e4c;
    outline-color: #a61e4c; }
  .about .icon.way-17 {
    background: #9c1e67;
    outline-color: #9c1e67; }
  .about .icon.way-18 {
    background: #6e1f4c;
    outline-color: #6e1f4c; }
  .about .icon.way-19 {
    background: #5e2f7f;
    outline-color: #5e2f7f; }
  .about .icon.way-20 {
    background: #3b2c6d;
    outline-color: #3b2c6d; }
  .about .icon::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(218, 237, 57, 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
    mix-blend-mode: color-dodge; }
  .about .icon img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 7px;
    object-position: center; }

.about h4.title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #8e4bff;
  transition: 0.4s ease; }

.about .content-para {
  margin-bottom: 3rem;
  text-align: center;
  transition: 0.4s ease; }
  @media screen and (min-width: 992px) {
    .about .content-para {
      padding: 0 200px; } }

.icons-area {
  background: #8e4bff; }
  .icons-area .icon-card {
    text-align: center;
    padding: 7rem 35px; }
    @media only screen and (max-width: 992px) {
      .icons-area .icon-card {
        padding: 5rem 35px; } }
    @media only screen and (max-width: 768px) {
      .icons-area .icon-card {
        padding: 3rem 35px; } }
    .icons-area .icon-card .icon-box {
      margin-bottom: 20px; }
      .icons-area .icon-card .icon-box img {
        filter: brightness(0) sepia(1) invert(1);
        width: 10rem; }
    .icons-area .icon-card .icon-content h6 {
      font-size: 18px;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 15px; }
  .icons-area .col-md-4:nth-child(2) .icon-card {
    border-left: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9; }

.at-glance {
  position: relative; }
  .at-glance .tertiary {
    background: #daed39;
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-35%, 0) rotate(60deg);
    border-radius: 5rem;
    z-index: 3; }

.academic-section {
  background: #8e4bff;
  padding: 7rem 0; }
  @media only screen and (max-width: 992px) {
    .academic-section {
      padding: 5rem 0; } }
  @media only screen and (max-width: 768px) {
    .academic-section {
      padding: 3rem 0; } }
  @media screen and (min-width: 768px) {
    .academic-section .col-md-3 {
      text-align: right; } }
  .academic-section .border-bottom-one {
    background: #f9f9f9; }
    @media screen and (min-width: 992px) {
      .academic-section .border-bottom-one {
        width: 25rem;
        height: 4px;
        margin: 10px 0 30px; } }
  @media screen and (min-width: 768px) {
    .academic-section h2 {
      text-align: left;
      margin-bottom: 1rem; } }
  .academic-section .btn-two {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px; }
    @media screen and (min-width: 768px) {
      .academic-section .btn-two {
        width: 150px; } }
    @media screen and (min-width: 992px) {
      .academic-section .btn-two {
        width: 250px; } }
    .academic-section .btn-two i {
      font-size: 2rem; }
