* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    // This defines what 1rem is
    font-size: 62.5%;
  }
  body{
    background-color: $colorTertiary;
    &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: $footerBG;
    }
    &::-webkit-scrollbar {
      width: 3px;
      background-color: $footerBG;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: $colorPrimary;
    }
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }


  ::selection{
    background-color:$colorPrimary;
    color:$colorWhite;
}