$colorPrimary: #8e4bff;
$colorSecondary: #daed39;
$colorBlack:#333333;
$colorWhite: #f9f9f9;
$copyrightBG:#020202;
$footerBG:#545775;
$colorHeading:#2F323A;
$colorText:#2F2F2F;

$transition: 0.4s ease;
