@mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

@mixin GlobalButtonOne{
    font-size: 15px;
    padding: 10px 24px;
    line-height: 1;
    text-transform: capitalize;
    border: 1px solid $colorWhite;
    color: $colorWhite;
    transition: $transition;
    &:hover{
        color: $colorPrimary;
        background: $colorWhite;
    }
}
