$colorPrimary: #3F676F;
$colorSecondary: #A4C3B2;
$colorTertiary: #CCE3DE;
$colorFourth: #EAF4F4;
$colorFifth: #F6FFF8;
$colorBlack:#333333;
$colorWhite: #ffffff;

$GradientOne:linear-gradient(13deg, rgba(40,68,152,1) 0%, rgba(27,41,97,1) 69%, rgba(9,9,121,1) 100%);
$GradientTwo:linear-gradient(90deg, rgba(27,41,97,1) 0%, rgba(9,9,121,1) 28%, rgba(40,68,152,1) 75%);