$colorPrimary: #3F676F;
$colorSecondary: #A4C3B2;
$colorTertiary: #CCE3DE;
$colorFourth: #EAF4F4;
$colorFifth: #F6FFF8;
$colorBlack:#333333;
$colorWhite: #ffffff;
$copyrightBG:#020202;
$footerBG:#545775;
$colorEvents:#fc0079;

$transition: 0.4s ease;
