
.form-body{
    display: grid;
    justify-content: flex-end;
    .form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .form-content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    .form-items {
    background: rgba($colorBlack, 0.8);
    backdrop-filter: blur(7px);
    padding: 25px;
    display: inline-block;
    width: 100%;
    min-width: 420px;
    @include respond(phone-before){
      min-width: 80%;
    }
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
}
h3 {
    color: $colorWhite;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}
h3.form-title {
    margin-bottom: 30px;
}
p {
    color: $colorWhite;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}
label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: $colorWhite;
    font-size: 1.6rem;
}
input[type=text], input[type=password], input[type=email], select{
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: $colorWhite;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}
textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: $colorWhite;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
    
    margin-top: 16px;
    &:hover, &:focus{
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}
}
button{
    background: transparent;
}
}
.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
}
.gender{
    margin: 2rem 0 1rem 0;
    .btn{
        border: 1px solid $colorWhite;
        transition: $transition;
        &:hover{
            background: $colorWhite;
            color: $colorBlack;
        }
    }
}
}
