body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    color: $colorBlack;
  }
  h2.primary-heading {
    line-height: 1.25em;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}
.content-para p {
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
  &:last-child{
    margin-bottom: 0;
  }
}
  