.u-center-text {
    text-align: center;
  }
  .mb-large {
    margin-bottom: 7rem;
    @include respond(tab-land-before){
      margin-bottom: 5rem;
    }
    @include respond(tab-port-before){
      margin-bottom: 3rem;
    }
  }
  