.u-center-text {
    text-align: center;
  }
  .mb-large {
    margin-bottom: 7rem;
    @include respond(tab-land-before){
      margin-bottom: 5rem;
    }
    @include respond(tab-port-before){
      margin-bottom: 3rem;
    }
  }
    .mt-large {
    margin-top: 7rem;
    @include respond(tab-land-before){
      margin-top: 5rem;
    }
    @include respond(tab-port-before){
      margin-top: 3rem;
    }
  }
  .primary-list{
    @include respond (small-desktop-after){
      padding-left: 5rem;
    }
    li{
      position: relative;
      &:before{
        content: "";
        background-image: url("../images/primary-list-01.png");
        background-size: cover;
        position: absolute;
        top: 15px;
        left: -30px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
      }
    }
  }
  #loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colorTertiary;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
@media (max-width: 576px) {
  #loader img {
    width: 80px;
  }
}
.inner-hero-section {
    position: relative;
    min-height: 500px;
    @include respond (phone-before){
        min-height: 250px;
    }
    display: grid;
    place-content: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    &::before{
      content: "";
      background: #000;
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .container{
      position: relative;
    }
}
.inner-hero-section-two {
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    &::before{
      content: "";
      background: #0a6eb2;
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .container{
      position: relative;
    }
}
.border-img-one{
  position: relative;
  display: block;
  margin: 10px 0;
  span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:nth-child(1){
      background: rgba($colorWhite, $alpha: 0.2);
      width: 70%;
      height: 2px;
    }
    &:nth-child(2){
      background: rgba($colorWhite, $alpha: 0.2);
      margin-top: 3px;
      width: 50%;
      height: 2px;
    }
  }
}