.forgetten-password{
    .form-group.text-center{
        margin-top: 19px;
    }
    .forgetten{
        padding: 30px;
        background: $colorWhite;
    }
    i{
        color: $colorPrimary;
        margin-bottom: 20px;
    }
    input[type="email"]{
        width: 100%;
        padding: 9px 20px;
        text-align: left;
        outline: 0;
        border-radius: 6px;
        background-color: $colorFifth;
        font-size: 15px;
        font-weight: 300;
        color: $colorPrimary;
        transition: $transition;
        margin-top: 16px;
        border: 1px solid $colorPrimary;
        text-transform: capitalize;
    }
    .container{
        @include respond (tab-port-before){
             .col-md-6{
                img{
                    display: none;
                }
            }
        }
        @include respond (tab-port-after){
            width: 780px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background: $colorWhite;
            .col-md-6{
                padding: 0;
            }
        }
    }
}