.news-grid{
    .row{
        @media screen and (max-width:991.9px){
            flex-direction: column-reverse;
            gap: 4rem;
        }
    }
    .nav-link{
         text-align: left;
         color: $colorPrimary;
         padding: 15px 15px; 
          @include respond (phone-before){
                padding: 10px;
            }
         &:not(:last-child){
            border-bottom: 1px solid $colorPrimary;
         }
         text-transform: uppercase;
         font-size: 1.6rem;
         font-weight: 600;
        &.active{
            background: $colorPrimary;
            color: $colorWhite;
            border-bottom: none;
        }
    }
    .fade {
  opacity: 0;
  transition: opacity 0.1s ease-in-out; 
}

.fade.show {
  opacity: 1;
}
.tab-content {
    height: 100%;
}

.sticky-tab {
    position: sticky;
    top: 3rem;
    padding: 20px 20px;
    background: $colorWhite;
    z-index: 3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
    .news-box{
        &:not(:last-child){
            margin-bottom: 3rem;
        }
        @include respond (tab-port-after){
             display: flex;
        flex-wrap: wrap;
        align-items: center;
        }
        &__img{
            position: relative;
            height: 260px;
            margin-right: -40px;
            @media screen and (min-width:991.9px) {
                height: 320px;
            }
            @include respond (tab-port-after){
                flex: 0 0 33.33%;
            max-width: 33.33%;
            }
            @media screen and (min-width:992.1px) and (max-width:1199.9px) {
                height: 320px;
            }
            @include respond (tab-land-before){
                margin-right: 0;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
            .news-title{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &__content{
            padding: 27px 40px 26px;
            background: $colorWhite;
            z-index: 3;
            transition: $transition;
            position: relative;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            &::after{
                content: "";
                background: $colorPrimary;
                height: 4px;
                width: 0;
                position: absolute;
                bottom: -4px;
                left: 0;
                transition: $transition;
            }
            &:hover{
                transform: translateY(-4px);
                &::after{
                    width: 100%;
                }
            }
            @include respond (phone-before){
                padding: 27px 20px 26px;
            }
             @include respond (tab-port-after){
                flex: 0 0 66.66%;
            max-width: 66.66%;
             }
             .content-para {
                margin-top: 1rem;
            }
            .date{
                background: $colorPrimary;
                color: $colorWhite;
                display: inline-block;
                padding: 10px;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 400;
                aspect-ratio: 1;
                position: absolute;
                top: -40px;
                @include respond (tab-port-after){
                    right: -40px;
                    height: 75px;
                }
                @include respond (tab-port-before){
                    height: auto;
                    aspect-ratio: auto;
                }
                strong{
                    font-size: 3rem;
                    text-transform: capitalize;
                    line-height: 1;
                    @include respond (tab-land-before){
                        font-size: 1.6rem;
                        line-height: 0;
                    }
                }
            }
            a{
                background: transparent;
                color: $colorPrimary;
                &:hover{
                    color: $colorWhite;
                    background: $colorPrimary;
                }
            }
        }
    }
}