@import "./abstract/function";
@import "./abstract/mixins";
@import "./abstract/responsive";
@import "./abstract/varaiables";

@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/button";
@import "./components/hero-form";

@import "./layout/footer";
@import "./layout/header";

@import "./pages/about";
@import "./pages/admission";
@import "./pages/AmritMahotsav";
@import "./pages/contact";
@import "./pages/home";