.top-header{
    background: $footerBG;
    padding: 10px 0;
    @media screen and (max-width:970px) {
      .col-md-4:first-child {
     position: fixed;
              bottom: 0;
              padding: 0;
              left: 50%;
              transform: translateX(-50%);
              z-index: 9;
}
    }
    .col-md-4:last-child{
        text-align: right;
    }
    .social-media{
        color: $colorWhite;
        display: inline-flex;
         @media screen and (max-width:970px) {
            width: 100%;
            justify-content: center;
          }
        span{
          @media screen and (max-width:970px) {
            display: none;
          }
        }
        ul{
            margin-bottom: 0;
            @media screen and (max-width:970px) {
              display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;
            li{
              flex: 0 0 calc(100% / 4);
              max-width: calc(100% / 4);
              &:nth-child(1){
                background: #e96651;
              }
              &:nth-child(2){
                background: #7acdee;
              }
              &:nth-child(3){
                background: #557dbc;
              }
              &:nth-child(4){
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
              }
              a{
                display: block;
                text-align: center;
                padding: 10px 0;
              }
            }
            }
            @media screen and (max-width:970px) and (min-width:359px) {
              width: 30rem;
            }
            @media screen and (max-width:358.9px) {
              width: calc(100% - 15px);
            }
            li{
                display: inline-block;
                line-height: 1;
                &:not(:last-child){
                    padding-right: 8px;
                }
                a{
                    color: $colorWhite;
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .top-navigation {
      @media screen and (min-width:970.1px) {
        text-align: right;
      }
       ul{
        margin-bottom: 0;
        padding-left: 0;
        li{
            display: inline-block;
            line-height: 1;
            &:not(:last-child){
                padding-right: 8px;
                margin-right: 8px;
                border-right: 1px solid rgba($colorWhite, $alpha: 0.5);
            }
            a{
                color: $colorWhite;
                text-transform: capitalize;
                font-size: 14px;
            }
        }
       }
    }
    a.geti-login {
    color: #fff;
    position: fixed;
    right: 0;
    background: linear-gradient(rgba($colorWhite, $alpha: 0.4) 0, rgba(255, 255, 255, 0) 100%), $footerBG;
    top: 30%;
    transform: rotate(-90deg) translate(-50%, 118%);
    padding: 10px 20px;
    border-radius: 40px;
    z-index: 1;
    font-size: 1.6rem;
}
}
.middle-header{
  padding: 1rem 0;
  background: $colorWhite;
  .middle-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .cis-brand {
    flex: 0 0 200px;
    max-width: 200px;
    @media screen and (max-width:970px){
      display: none;
    }
}
form.d-flex {
    flex: 0 0 calc(100% - 250px);
    max-width: calc(100% - 250px);
    justify-content: flex-end;
    @media screen and (max-width:970px) {
      flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    }
    input.form-control {
    background: transparent;
    border: 2px solid $colorPrimary;
    border-right: none;
    border-radius: 0;
    @include respond (phone-after){
      max-width: 30rem; 
    }
}
}
}
  .cis-brand{
    img{
      width: 100%;
    }
  }
}
.navigation{
  background: $colorPrimary;
  @media screen and (max-width: 970px) {
    padding: 1rem 0;
    background-image: linear-gradient(45deg, white 50%, #FE5D37 50%);
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .cis-brand-mobile{
    float: left;
  img{
    width: 120px;
  }
  @media screen and (min-width:970.12px) {
    display: none;
  }
}
nav .wrapper{
  position: relative;
  padding:0;
  // height: 70px;
  // line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul{
    margin: 0;
    @media screen and (min-width:970px) and (max-width:992px) {
    padding: 0;
  }
  }
  @media screen and (max-width:970px){
    justify-content: flex-end;
    padding: 0 3rem;
  }
}
.wrapper .logo a{
  img{
    max-width: 15rem;
  }
}
.wrapper .nav-links{
  display: inline-flex;
  @media screen and (min-width:970px) and (max-width:1399.9px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: $colorWhite;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: block;
  @media screen and (min-width:970px) and (max-width:992.1px) {
    padding: 9px 10px;
  }
   @media screen and (min-width:970px) and (max-width:992px) {
    padding: 9px 7px;
    font-size: 12px;
  }
  @media screen and (max-width:970px) {
    color: rgba($colorWhite, $alpha: 1);
  }
}
.nav-links li a:hover{
  background: darken($colorPrimary, $amount: 4);
  color: rgba($colorWhite, $alpha: 1);
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: $colorPrimary;
  width: 180px;
  line-height: 45px;
  padding: 0;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 45px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
  color: $colorWhite;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.mega-box .content{
  background: $colorPrimary;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  @media screen and (min-width:970.1px) {
    border-top: 1px solid #cce3de;
  }
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
  flex-direction: column;
}
.content .row img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: $colorWhite;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 85%;
    @media screen and (min-width:361px) {
      max-width: 350px;
    }
    top: 0;
    left: -100%;
    background: $colorPrimary;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
    z-index: 9;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $colorPrimary;
  }
  ::-webkit-scrollbar-thumb {
    background: $footerBG;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: $footerBG;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
}


.mobile-item, .desktop-item{
    position: relative;
    &::after{
      content: "\f078";
      display: inline-block;
      font-family: "Font Awesome 6 Free";
      line-height: 1;
      font-weight: 900;
      padding-left: 5px;
      font-size: 10px;
      @media screen and (max-width:970px) {
        position: absolute;
        font-size: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
